@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.loading-window {
  min-height: 100vh;
  font-family: "Source Code Pro", monospace;
  display: none;
  display: grid;
  place-content: center;
  justify-items: center;
  position: relative;
  background-color: #FCE4EC;
  z-index: 0;
}
.loading-window::before {
  content: "";
  z-index: -2;
  position: absolute;
  background-image: url("../images/bg-img.png");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 300%;
  background-position: center;
  opacity: 0.04;
}
.loading-window div:first-child {
  margin: 0 auto;
  transform: translateY(-10vh);
}
.loading-window div:first-child h1 {
  font-size: clamp(2rem, 2rem + 5vw, 6rem);
  width: max-content;
  position: relative;
}
.loading-window div:first-child h1::before, .loading-window div:first-child h1::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.loading-window div:first-child h1::before {
  z-index: 1;
  background-color: #FCE4EC;
  animation: typing 5.5s steps(11) 1s forwards;
}
.loading-window div:first-child h1::after {
  z-index: 1;
  width: 0.125em;
  animation: typing 5.5s steps(11) 1s forwards, blinking 700ms steps(11) 0s 11 normal none;
}
@keyframes typing {
  to {
    left: 100%;
  }
}
@keyframes blinking {
  0%, 25%, 76%, 100% {
    background-color: black;
  }
  26%, 75% {
    background-color: transparent;
  }
}
.loading-window div:last-child {
  z-index: 3;
  display: flex;
  gap: 10px;
  opacity: 0;
  transform: translateY(-80px);
  animation: btns-appearance 500ms ease-in-out 8.3s 1 normal forwards;
}
.loading-window div:last-child button {
  font-size: clamp(0.7rem, 0.7rem + 1vw, 1.5rem);
  width: min(43vw, 250px);
  padding: 0.6rem 0.4rem;
  border: none;
  border-radius: 10px;
  background-color: #F06292;
  font-family: "Ubuntu", sans-serif;
  color: white;
}
.loading-window div:last-child button:hover {
  z-index: 3;
  background-color: #F06292;
  cursor: pointer;
  box-shadow: 0 0 0 black;
  animation: btn-hover 400ms ease-in-out forwards;
}
@keyframes btn-hover {
  to {
    background-color: #E91E63;
    box-shadow: 0 0 10px #E91E63, 0 0 20px #E91E63, 0 0 40px #E91E63;
  }
}
@keyframes btns-appearance {
  100% {
    opacity: 1;
  }
  80% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.player-vs-player-window {
  display: grid;
  display: none;
  min-height: 100vh;
  min-width: 100vw;
  grid-template-rows: 1fr 1fr 3fr;
  position: relative;
  background-color: #FCE4EC;
  z-index: 0;
}
.player-vs-player-window::before {
  content: "";
  z-index: -2;
  position: absolute;
  background-image: url("../images/bg-img.png");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 300%;
  background-position: center;
  opacity: 0.04;
}
.player-vs-player-window .players-container {
  font-size: clamp(0.8rem, 0.8rem + 1vw, 1.5rem);
  padding: 40px 20px;
  display: flex;
  gap: 30vw;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
}
.player-vs-player-window .players-container div {
  animation: appearance 800ms ease-in-out forwards;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.player-vs-player-window .players-container input {
  display: block;
  width: min(30vw, 250px);
  height: 40px;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1rem;
  border: none;
  background-color: #FF8A80;
  color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.576);
}
.player-vs-player-window .players-container input::placeholder {
  color: rgb(224, 221, 221);
}
.player-vs-player-window .players-container input:focus {
  outline: 2px solid #050505;
}
.player-vs-player-window .players-container input:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.643);
}
.player-vs-player-window .new-game-container {
  display: grid;
  animation: appearance 800ms ease-in-out forwards;
  place-items: center;
}
.player-vs-player-window .new-game-container button {
  font-size: clamp(0.7rem, 0.7rem + 1vw, 1.5rem);
  width: min(43vw, 250px);
  padding: 0.6rem 0.4rem;
  border: none;
  border-radius: 10px;
  background-color: #F06292;
  font-family: "Ubuntu", sans-serif;
  color: white;
}
.player-vs-player-window .new-game-container button:hover {
  z-index: 3;
  background-color: #F06292;
  cursor: pointer;
  box-shadow: 0 0 0 black;
  animation: btn-hover 400ms ease-in-out forwards;
}
@keyframes btn-hover {
  to {
    background-color: #E91E63;
    box-shadow: 0 0 10px #E91E63, 0 0 20px #E91E63, 0 0 40px #E91E63;
  }
}
.player-vs-player-window .field-container {
  padding: 2vh 4vw 0 4vw;
  animation: appearance 800ms ease-in-out forwards;
  display: grid;
  display: none;
  justify-content: center;
  grid-template: repeat(3, clamp(50px, 15vw, 150px))/repeat(3, clamp(50px, 15vw, 150px));
}
.player-vs-player-window .field-container div {
  display: grid;
  place-items: center;
}
.player-vs-player-window .field-container div:nth-child(1) {
  border: 3px solid black;
}
.player-vs-player-window .field-container div:nth-child(2),
.player-vs-player-window .field-container div:nth-child(3) {
  border: 3px solid black;
  border-left: none;
}
.player-vs-player-window .field-container div:nth-child(4),
.player-vs-player-window .field-container div:nth-child(7) {
  border: 3px solid black;
  border-top: none;
}
.player-vs-player-window .field-container div:nth-child(5),
.player-vs-player-window .field-container div:nth-child(6),
.player-vs-player-window .field-container div:nth-child(8),
.player-vs-player-window .field-container div:nth-child(9) {
  border: 3px solid black;
  border-top: none;
  border-left: none;
}
.player-vs-player-window .turn {
  position: absolute;
  display: none;
  font-family: "Ubuntu", sans-serif;
  background-color: #F06292;
  width: clamp(150px, 45vw, 450px);
  text-align: center;
  color: white;
  padding: 8px 16px;
  border-radius: 10px;
  white-space: nowrap;
  overflow: scroll;
  top: calc(32vh - 10vw);
  font-size: clamp(0.9rem, 0.9rem + 2vw, 2rem);
  left: 50vw;
  transform: translate(-50%, -50%);
}

.game-over-window {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  display: none;
  grid-template-rows: 20vh 20vh 20vh;
  place-items: center;
  position: relative;
  background-color: #FCE4EC;
  z-index: 0;
}
.game-over-window::before {
  content: "";
  z-index: -2;
  position: absolute;
  background-image: url("../images/bg-img.png");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 300%;
  background-position: center;
  opacity: 0.04;
}
.game-over-window div:first-child {
  font-size: clamp(2rem, 2rem + 3vw, 4rem);
  font-family: "Source Code Pro", monospace;
  font-weight: 900;
}
.game-over-window .winner {
  font-size: clamp(1rem, 1rem + 1vw, 2rem);
  font-family: "Ubuntu", sans-serif;
  animation: appearance 800ms ease-in-out forwards;
}
.game-over-window button {
  font-size: clamp(0.7rem, 0.7rem + 1vw, 1.5rem);
  width: min(43vw, 250px);
  padding: 0.6rem 0.4rem;
  border: none;
  border-radius: 10px;
  background-color: #F06292;
  font-family: "Ubuntu", sans-serif;
  color: white;
}
.game-over-window button:hover {
  z-index: 3;
  background-color: #F06292;
  cursor: pointer;
  box-shadow: 0 0 0 black;
  animation: btn-hover 400ms ease-in-out forwards;
}
@keyframes btn-hover {
  to {
    background-color: #E91E63;
    box-shadow: 0 0 10px #E91E63, 0 0 20px #E91E63, 0 0 40px #E91E63;
  }
}

@keyframes appearance {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 600px) {
  .player-vs-player-window .players-container {
    gap: 20px;
  }
  .player-vs-player-window .players-container input {
    width: 40vw;
  }
}

/*# sourceMappingURL=styles.css.map */
